# checkpoints
/.ipynb_checkpoints/
/handbook_on_tf/.ipynb_checkpoints/
/handbook_on_tf/checkpoint

# tensorflow's saved models and logs
/graphs/
/handbook_on_tf/tf_logs/
/handbook_on_tf/tmp/
my_logreg_model.*

# leetcode's try file
/leetcode/try.py
/leetcode/tmp/